.header{
    background-color: rgb(38, 79, 112);
    height: 150px;
    width: 100%;
    border-radius: 0px 0px 30px 30px ;
   
    
    
}
.cot{
    text-align: center;
    padding-top: 2.5%;
    font-size:200%;
}
.ht{
    margin-left: 90%;
}
.hm{
    margin-left: 90%;
    padding-bottom: 90px;
}
.div{
    height: 720px;
    width: 350px;
    align-items: center;
    text-align: justify;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5px;
    
    margin-left: 1%;
    background-color: rgb(240, 218, 228);
    margin-top: 120px;
    border-radius: 20px 20px 20px 20px;
}
.background{
    /* background-image: url('home/admin123/Desktop/neog/doggy.jpg'); */
    background-image: url(doggy.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 10; 
       

}