.img{
    align-items: center;
    margin-left: 30%;
    padding-bottom: 0px;
    height: 430px;
    width: 500px;
}
.firstDiv{
    height: 150px;
    text-align: center;
    border: 1px solid white;
    background-color: rgb(252, 225, 237);
    padding-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px 20px 20px 20px;

}

.SecDiv{
    height: 200px;
    text-align: center;
    border: 1px solid white;
    /* background-color: rgb(202, 235, 231); */
    padding-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px 20px 20px 20px;

}
.btn{
    height:40px;
    width:9%;
    color: white;
    background-color:rgb(38, 79, 112);
    border-radius: 60px 60px 60px 60px;
    border: 1px solid rgb(38, 79, 112);
    margin-top: 0.5%;
    font-size: 90%;
    

}

.thirdDiv{
    height: 150px;
    text-align: center;
    border: 1px solid white;
    background-color: rgb(252, 225, 237);
    padding-top: 28px;
    padding-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px 20px 20px 20px;


}
.btn2{
    height:40px;
    width:9%;
    border-radius: 60px 60px 60px 60px;
    border: 1px solid rgb(38, 79, 112);
    background-color:rgb(38, 79, 112);
    margin-top: 0.5%;
    font-size: 100%;
    

}

.footer{
    height: 120px;
    margin-top: 50px;
    background-color:rgb(38, 79, 112);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 28px;
    border-radius: 0px 20px 0px 0px;
    font-weight: 5%;
}

.header{
    background-color:rgb(38, 79, 112);
    height: 90px;
    border-radius: 0px 0px 0px 20px;
    margin-left: 5%;
    margin-right: 5%;
}
h4{
    color: white;
    padding-left:10px;
    padding-top: 15px;
}
.nav{
    float: right;
    margin-right: 30px;
    font-size: 17px;
    color: white;
    font-family: monospace;
}